<div class="container">
  <div class="row">
    <div class="total-box col-md-3">
      <%= number_to_human( @today.sum( :value )  ) %>
      <span>HOY</span>
    </div>
    <div class="total-box col-md-3">
      <%= number_to_human( @yesterday.sum( :value ) ) %>
      <span>AYER</span>
    </div>
    <div class="total-box col-md-3">
      <%= number_to_human( @this_month.sum( :value ) ) %>
      <span>ESTE MES</span>
    </div>
    <div class="total-box col-md-3">
      <%= number_to_human( @last_month.sum( :value ) ) %>
      <span>MES PASADO</span>
    </div>
  </div>

  <div class="row" style="margin-top: 40px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Últimos 6 Meses</div>
        <div class="panel-body">
          <div id="expenses-chart" style="height: 250px;">
            <%= column_chart @last_6_months, id: "expenses-chart", stacked: true, prefix: "$", thousands: "," %>
          </div>
        </div>
      </div>
    </div>
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Por Día</div>
        <div class="panel-body">
          <div id="daily-expenses-chart" style="height: 250px;">
            <%= column_chart @each_day, id: "daily-expenses-chart", stacked: true, prefix: "$", thousands: "," %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Por Tipo</div>
        <div class="panel-body">
          <div id="type-chart" style="height: 250px;">
            <%= pie_chart @each_type, stacked: true, id: "type-chart", prefix: "$", thousands: "," %>
          </div>
        </div>
      </div>
    </div>

    <div class=" box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Acumulado</div>
        <div class="panel-body">
          <div id="month-acc" style="height: 250px;">
            <%= area_chart @data, stacked: true, id: "month-acc", prefix: "$", thousands: "," %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
