<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Tipo <span>Seleccione para filtrar</span></h4>
      <div class="list-group filter-type">
        <% @types.each do |type|%>
          <%= link_to type.name, expenses_path( request.query_parameters.merge( :type_id => type.id )), class: 'list-group-item' %>
        <% end %>
      </div>
      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">
        <% @categories.each do |category|%>
          <%= link_to category.name, expenses_path( request.query_parameters.merge( :category_id => category.id )), class: 'list-group-item' %>
        <% end %>
      </div>
    </div>

    <div class="col-md-9 index-data">
      <div class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= number_to_human( @expenses.sum( :value ) ) %></div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= number_to_human( @expenses.count ) %></div>
          <div class="summary-label">Transacciones</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= number_to_human( @expenses.average ( :value ) ) %></div>
          <div class="summary-label">Promedio</div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <div id="selector_modal">
            <%= link_to "<span class='glyphicon glyphicon-plus'></span> Nuevo gasto".html_safe, new_expense_path, remote: true, class: "btn btn-success pull-left" %>
          </div>

          <h4 class="dropdown pull-right">
            <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown"> <%= @expense_date %><span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <% @months_list.each do |month| %>
              <li role="presentation">
                <%= link_to month.strftime("%B %Y"), expenses_path( request.query_parameters.merge( :month => month.strftime("%B %Y") )), class: 'month-item'  %>
              </li>
              <% end %>
            </ul>
        </div>
      </div>

      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody>
          <% @expenses.each do |expense|%>
            <%= render "row", expense: expense %>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

<script>
  new filterView();
</script>
